.App {
  text-align: center;
}

.scrambled-word {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 10px 0;
  font-size: 1.5rem;
}

.letter {
  display: inline-block;
  padding: 2px 5px;
}

.letter-highlighted {
  display: inline-block;
  padding: 2px 5px;
  color: gold;
  font-weight: bold;
}
